body {
    background-color: #FFFFFF;
    color: #333745;
}

#menu {
    width: 100%;
}

ul {
    position: fixed;
    list-style-type: none;
    margin: 0;
    padding-left: 20%;
    padding-right: 10%;
    overflow: hidden;
    background-color: #4BB3FD;
    font-family: Megrim, cursive;
    top: 0;
    z-index: 9999;
    width: inherit;
}

li {
    float: right;
    display: inline-block;
}

    li h1 {
        font-family: Megrim, cursive;
        font-size: 52px;
        color: white;
    }

    li a {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
        font-size: 35px;
    }

button:focus{
    outline: 0;
}
.PlayGame {
    width: 100%;
    font-size: 1.5em;
    border: none;
    background-color: #53DD6C;
    color: white;
    font-family: 'Overlock SC';
    cursor: pointer;
}

    .PlayGame a {
        text-decoration: none;
    }

.container {
    width: 100%;
    padding: 10%;
    padding-top: 5%;
}

.intro h1 {
    font-family: 'Overlock SC';
}

.gameBasics {
    padding-top: 1em;
}

.slideshow {
    float: left;
    width: 45%;
    height: 30em;
}

    .slideshow img {
        width: 100%;
        height: 100%;
    }

.gameInfo {
    width: 35%;
    float: right;
    margin-left: 20%;
    height: 100%;
}

    .gameInfo h2 {
        font-family: 'Overlock SC';
    }

.infoText {
    text-align: left;
}

.infoTemplate {
    width: 50%;
    float: left;
}

    .infoTemplate p {
        line-height: 1em;
    }

.infoAnswers {
    width: 50%;
    float: right;
}

    .infoAnswers p {
        line-height: 1em;
    }

.gameDesignBlock {
    margin-top: 32%;
    padding-top: 5em;
    width: 100%;
}

    .gameDesignBlock ul {
        position: relative;
        width: 100%;
        background-color: #086788;
        color: white;
        margin: 0;
    }

    .gameDesignBlock li {
        border-right: thin;
        float: left;
        display: inline-block;
        text-align: center;
        padding-right: 10%;
        font-family: 'Overlock SC';
    }

        .gameDesignBlock li:last-child {
            border-right: none;
        }

.designButton {
    font-size: 25px;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0.2em;
}

    .designButton:focus {
        outline: 0;
    }

.designInfo {
    height: 100%;
    border: inset;
    background-color: #D9F0FF;
    
}

    .designInfo div {
        width: inherit;
        height: inherit;
        padding-left: 2em;
        padding-right: 2em;
        text-align: justify;
    }

.titleButton {
    border: none;
    float: right;
    font-size: 0.95em;
    cursor: pointer;
    background-color: transparent;
}

    .titleButton:focus {
        outline: 0;
    }
